::ng-deep .btn-primary{
  background-color: red !important;
}
:root {
  --pandu: green; /* Default color */
}
.primary{
  // color: green;
  color: var(--pandu) !important;
}

.secondary{
  color: red;
}


canvas {
  display: block;
  margin: auto;
}
