/* Adjust notification badge */
.badge {
  font-size: 0.8rem;
}
.navbar-brand img {
  margin-right: 10px;
}
body {
  padding-top: 56px; /* Height of the navbar */
}
.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .badge {
  font-size: 0.75rem;
  min-width: 20px;
  height: 20px;
  padding: 0.25em;
}
